<mat-card>
    <div class="container-fluid">
        <h2>Agregar Nuevo Vehiculo</h2>
        <div class="row">
            
            <div class="col">
                <mat-form-field appearance="fill" style="width: 100%;" >
                    <mat-label>Marca</mat-label>
                    <input type="text" maxlength="100" minlength="3" matInput autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Modelo</mat-label>
                    <input type="text" matInput autocomplete="off">
                </mat-form-field>
            </div>
          
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" style="width: 100%;" >
                    <mat-label>Placas</mat-label>
                    <input type="text" maxlength="100" minlength="3" matInput autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Cliente</mat-label>
                    <mat-select>
                        
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <span>
                <button mat-raised-button color="primary">Guardar</button>
                <button mat-button color="primary">Limpiar</button>
            </span>
            
        </div>

    </div>

</mat-card>