<mat-card>
    <div class="container-fluid">
        <h2>Agregar Nuevo Cliente</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;" >
                        <mat-label>Nombre del Cliente</mat-label>
                        <input type="text" maxlength="100" minlength="3" matInput formControlName="nombre" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Correo electrónico</mat-label>
                        <input type="email" matInput formControlName="email" autocomplete="off">
                    </mat-form-field>
                </div>
            
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;" >
                        <mat-label>NIT</mat-label>
                        <input type="text" maxlength="100" minlength="3" formControlName="nit" matInput autocomplete="off">
                    </mat-form-field>

                    
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Telefono</mat-label>
                        <input type="tel" matInput formControlName="telefono" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;" >
                        <mat-label>Direccion</mat-label>
                        <input type="text" maxlength="100" minlength="3" matInput formControlName="direccion" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Observaciones</mat-label>
                        <input type="text" matInput formControlName="observaciones" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <span>
                    <button [disabled]="!form.valid" id="btnSubmit" type="submit" mat-raised-button color="primary">Guardar</button>
                    <button mat-button color="primary">Limpiar</button>
                </span>
                
            </div>
        </form>
    </div>

</mat-card>